<div class="container mt-5">
    <form>
        <input class="form-control mb-3" name="username" type="text" placeholder="Enter New Username">
        <input class="form-control mb-3" name="email" type="text" placeholder="Enter New Email">
        <input class="form-control mb-3" name="password" type="text" placeholder="Enter New Password">
        <input class="form-control mb-3" type="file" placeholder="Enter New Image Profile">
        <button class="m-auto">update</button>
    </form>
</div>
